.container{
  height:fit-content;
  width:50%;
  border:1px solid orange;
  margin:auto;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.image{
  height:30rem;
  width:30rem;
  border:1px solid orange;
  box-shadow: 5px 10px #888888;
}

.heading{
  color:powderblue;
  font-size: 4rem;
  font-family: 'Glory', sans-serif;
  margin-bottom: 0;

}

.subHeading{
  font-size: 1.6rem;
}

.content{
 padding: 2%;
 font-size:1.6rem;
 font-family: 'Glory', sans-serif;

}

@media (max-width:900px){
  .container{
    width:75%;
  }
}

@media (max-width:600px){
  .container{
    width:90%;
  
  }
}

@media (max-width:400px){
  .container{
    width:100%;
  
  }
}